body {
  text-align: center;
  font-family: sans-serif;
}

.person {
  position: relative;
  width: 200px;
  height: 400px;
  margin: auto;
  background: #eee;
  border-radius: 10px;
}

#mouth {
  position: absolute;
  top: 40px;
  left: 75px;
  width: 50px;
  height: 30px;
  background: pink;
  cursor: pointer;
}

#chest {
  position: absolute;
  top: 150px;
  left: 60px;
  width: 80px;
  height: 80px;
  background: lightblue;
  cursor: pointer;
}
